<ion-view view-title="CHAVDENTAL">
  <ion-content class="padding">
    <h2 align="center">Bienvenido</h2>
   <p>Somos una empresa para la salud bucal, sabemos que una hermosa sonrisa y una boca sana pueden hacer una gran diferencia en la vida de una persona, así mismo proporcionamos un servicio de calidad con planes de pago y precios accesibles. </p>
<p>Todo nuestro personal tiene la misión y está comprometida con su bienestar. Contamos con los mejores dentistas calificados los cuales lo atenderán personalmente y darán seguimiento a su tratamiento minuciosamente.</p>
<br /><br />
<h2>Servicios</h2>
<table align="center">
<tr>
    <td>
        <ul>
            <li><br><strong align="center">Limpieza</strong></li>

            <li><br><strong align="center">Ortodoncia</strong></li>

            <li><br><strong align="center">Extracci&oacute;n</strong></li>

            <li><br><strong align="center">Cirug&iacute;a 3era Molar</strong></li>

            <li><br><strong align="center">Placa Total</strong></li>

            <li><br><strong align="center">Placa Flexible</strong></li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul>
            <li><br><strong align="center">Placa Parcial</strong></li>

            <li><br><strong align="center">Resinas</strong></li>

            <li><br><strong align="center">Endodoncia</strong></li>

            <li><br><strong align="center">Poste</strong></li>

            <li><br><strong align="center">Corona</strong></li>

            <li><br><strong align="center">Periodoncia</strong></li>
        </ul>
    </td>
</tr>
                           
    
</table>         
  </ion-content>
</ion-view>
