<ion-view view-title="CONTACTANOS">
  <ion-content>
    <h2 align="center">Sucursal Matamoros, Tamp.</h2>
    
     <ul align="center">
                                <li>Horario Oficina:
                                    <strong>09:00 - 19:00 hrs
                                    </strong>
                                </li>
                                <li>Direcci&oacute;n:
                                    <strong>Calle sexta #1212, Zona Centro, C.P 87300
                                    </strong>
                                </li><br>
                                <li>Tel&eacute;fonos:
                                    <strong>(868) 2-12-23-94 y (868) 8-13-12-03
                                    </strong>
                                </li>
                            </ul>
                            <br /><br />
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3589.6303580777644!2d-97.50691578496728!3d25.88164060994221!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x866f9492912f715b%3A0x400cf6a936c951ee!2sCalle+Sexta+1212%2C+Zona+Centro%2C+87300+Matamoros%2C+Tamps.!5e0!3m2!1ses!2smx!4v1459486898378" width="400" height="250" frameborder="0" style="border:0; margin-left:30%;" allowfullscreen></iframe>
  </ion-content>
</ion-view>
